html, body{
  	margin: 0;
  	padding: 0;
  	border: 0;
  	outline: 0;  
    color:#fff;                          
  	vertical-align: baseline;          
  	background: transparent;      
  	font-size: 100%;    
  	font-family: 'Montserrat', sans-serif; 
  }
  .box1{
  width:100%;
  height: 100vh;
  background-image: linear-gradient(0deg, #99cc66, #009999);
  }
  .logo {
    right: -300px;
    padding-top: 200px;
  }

  .price h1{
    text-align: center;
    margin: auto;
    padding-top: 150px;
    color: #ffffff;
    font-family: 'Comfortaa', cursive;
  }
